// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import "~toastr/toastr";

$material-icons-font-path: '~material-icons/iconfont/';
@import '~material-icons/css/material-icons';

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.pointer {
  cursor: pointer;
}

.form-group.row {
  label {
    width: 100%;
  }
}

.router-link-active {

}

.router-link-exact-active {
  //background-color: #8fcbff;
  //cursor: default;
}


button{
    @extend .btn;
    border-radius: 0;

    &.primary{
        @extend .btn-primary;
    }
}
